div {
    width: 800px;
    background-color:white;
    box-sizing: border-box;
    margin: auto;
}

img {
    object-position: center;
    height: 400px;
    width: 800px;
}

h3 {
    color: lightseagreen;
}

button[type="button"]   {
    margin-top: 0px;
}